@import './css/vars';

.AppendAble {
  display: block;
  margin-bottom: $ChatBubbleMarginBottom;
}

.SayAble {
  display: flex;
  align-items: flex-end;
  margin-bottom: $ChatBubbleMarginBottom;

  .box {
    font-size: $ChatBubbleFontSize;
    padding: $ChatBubblePadding;
    box-shadow: $ChatBubbleBoxShadow;
    line-height: $ChatBubbleLineHeight;
    word-break: break-all;
    background-color: $ChatBubbleBackgroundColor;
    color: $ChatBubbleTextColor;
    border-radius: $ChatBubblBorderRadius;
  }

  &.side-remote {
    flex-direction: row;
  }

  &.side-local {
    flex-direction: row-reverse;
    img {
      // display: none;
    }
    .box {
      background-color: $ChatBubbleBackgroundColorLocal;
      color: $ChatBubbleTextColorLocal;
      border-radius: $ChatBubblBorderRadiusReverse;
    }
  }

  // --- typeNames
  &.type-Image {
    .box {
      background-color: transparent;
      padding: 0;
      overflow: hidden;
    }
    &.side-remote .box {
      margin-right: $ImageMarginScreen;
    }
    &.side-local .box {
      margin-left: $ImageMarginScreen;
    }
  }

  &.type-Audio {
    .box {
      cursor: pointer;
    }
  }
}