@import './css/vars';

.sibbayAvatar {
  width: $AvatarSize; 
  height: $AvatarSize;

  border-radius: 100%;

  &.side-remote {
    margin-right: $AvatarBubbleMargin;
  }

  &.side-local {
    margin-left: $AvatarBubbleMargin;
  }
}