@import '../css/vars';

.Image {
  &.loading {
    background-color: #fff;
    padding: $ChatBubblePadding;
    display: flex;
    .ig {
      margin-right: .5rem;
      color: #666;
    }
    .ld {
      color: orange;
      animation: spin 1s infinite linear;
    }
  }

  &.loaded {
    img {
      max-width: 100%;
      display: block;
    }
  
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}