.Text {
  .markdown {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    }
  

    blockquote {
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-left: solid 4px #ddd;
      padding: 0.5rem;
      background-color: #fafafa;

      &:first-child {
        margin-top: 0;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;

      &:first-child {
        margin-top: 0;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-left: 1rem;

      &:first-child {
        margin-top: 0;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    }

    table {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-spacing: 0;
      border-collapse: collapse;

      &:first-child {
        margin-top: 0;
      }
    
      &:last-child {
        margin-bottom: 0;
      }

      tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1;
        &:nth-child(2n) {
          background-color: #fafafa;
        }
      }

      th, td {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
      }
    }
  }
}