@import '../css/vars';

.Choices {
  position: fixed;
  left: 0; right: 0; bottom: 0;
  background: $ChoicesBackgroundColor;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: $ChoiceMargin;
  pointer-events: none;

  button {
    outline: none;
    cursor: pointer;
    border: 0 none;

    padding: $ChoicePadding;
    background-color: $ChoiceBackgroundColor;
    color: $ChoiceTextColor;
    font-size: $ChoiceFontSize;
    border-radius: $ChoiceBorderRadius;
    margin: $ChoiceMargin;
    pointer-events: all;
    box-shadow: $ChatBubbleBoxShadow;
  }
}