@import '../css/docvars';

.DemoBox {
  display: flex;
  border: $DocumentBlockBorderStyle;
  background-color: $DocumentBlockBackgroundColor;
  padding: 1rem;
  margin-bottom: 2rem;
  .control {
    padding-left: 2rem;
  }
  // * {
  //   box-sizing: content-box !important;
  // }
}