$phoneWidth: 375px;
$phoneHeight: 600px;

.DemoPage {
  display: flex;

  .control {
    padding-top: 1rem;
    
    button {
      background-color: #333;
      color: white;
      border: 0 none;
      border-radius: .3rem;
      padding: .5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: #444;
      }
      display: block;
      margin-bottom: .5rem;
    }
  }
}

.DemoPage {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #b4daff;

  .phone {  
    width: $phoneWidth; 
    height: $phoneHeight;

    background-color: #333;
    position: relative;
    border-radius: .5rem;
    padding: 1rem 1rem 2rem;
    margin: 1rem;

    &::before {
      content: "";
      width: .8rem;
      height: .8rem;
      background-color: white;
      border-radius: 100%;
      position: absolute;
      bottom: .6rem;
      left: 50%;
      margin-left: -.4rem;
    }

    .phoneinner {
      width: $phoneWidth * 2; 
      height: $phoneHeight * 2;
      background-color: rgba(white, 0.2);
      overflow: hidden;
      position: relative;
      transform-origin: 0 0;
      transform: scale(0.5);
    }
  }
}