@import '../css/vars';

.Tip {
  display: flex;
  justify-content: center;
  
  span {
    color: white;
    font-size: $TipFontSize;
    background-color: $tipBackgroundColor;
    border-radius: $TipBorderRadius;
    padding: $tipPadding;
  }
}