@mixin fillBox {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

// $c1: #e8f5fd;
// $c2: #b8def1;

$BackgroundColorTop: lighten(#f7e93a, 35%);
$BackgroundColorBottom: lighten(#e6c20e, 35%);