// $c: #28a745;
$c: #d08027;

.Button {
  background-color: $c;
  color: white;
  border: 0 none;
  border-radius: .3rem;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: lighten($c, 5%);
  }
  display: block;
  margin-bottom: .5rem;
}