$base: 16px;

// 头像的宽高
$AvatarSize: $base * 2;
// 头像与对话气泡的间隔
$AvatarBubbleMargin: $base * 1;


/* 对话气泡 */

// 对话气泡的下间隔
$ChatBubbleMarginBottom: $base * 1;
// 对话气泡文字大小
$ChatBubbleFontSize: $base * 1;
// 对话气泡 Padding
$ChatBubblePadding: $base * 0.5 $base * 1;
// 对话气泡文字行高
$ChatBubbleLineHeight: 1.5;
// 对话气泡圆角大小
$ChatBubblBorderRadius: $base * 1 $base * 0.5;
$ChatBubblBorderRadiusReverse: $base * 0.5 $base * 1;
// 对话气泡文字颜色
$ChatBubbleTextColor: #333;
$ChatBubbleTextColorLocal: #fff;
// Local 对话气泡背景色
$ChatBubbleBackgroundColor: #fff;
$ChatBubbleBackgroundColorLocal: #41d100;

// Loading 气泡的内部高度
$LoadingBubbleHeight: $base * 1.5; // 数值上等于 $ChatBubbleLineHeight

/* AppendAble */

// Tip 的样式
$TipFontSize: 14px;
$TipBorderRadius: $base * 0.5;
$tipBackgroundColor: #999;
$tipPadding: $base * 0.25 $base * 0.5;

// Image 的样式
$ImageMarginScreen: 3rem;

/* CoverAble */
$inputBackgroundColor: rgba(white, 0.8);
$InputFontSize: $base;
$InputPadding: $base * 0.5 $base * 1;
$InputLineHeight: $base * 1.4;
$inputButtonWidth: $base * 2.4;
$InputSendBtnBackgroundColor: darken(#41d100, 10%);
$InputSendBtnColor: white;
$InputSendBtnSize: $base * 2;